@font-face
  font-style: normal
  font-family: "Source-Han-Sans-CN-Regular"
  src: local("Source-Han-Sans-CN-Regular"), url("../lib/source-han-sans-cn-regular/Source-Han-Sans-CN-Regular.ttf") format("truetype"),
       url("../lib/source-han-sans-cn-regular/Source-Han-Sans-CN-Regular.woff2") format("woff2"),
       url("../lib/source-han-sans-cn-regular/Source-Han-Sans-CN-Regular.woff") format("woff"),
       url("../lib/source-han-sans-cn-regular/Source-Han-Sans-CN-Regular.eot") format("embedded-opentype"),
       url("../lib/source-han-sans-cn-regular/Source-Han-Sans-CN-Regular.svg") format("svg")

  
