$color-background = #002b36
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-meta = #2aa198
$color-meta-code = lighten($color-meta, 10%)
$color-link = #cb4b16
$color-text = #839496
$color-accent-1 = #859900
$color-accent-2 = #268bd2
$color-accent-3 = #b58900
$color-quote = #586e75
$highlight = hexo-config("highlight") || "solarized-dark"
